<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <a mat-button href="/" class="nav-item nav-link nav-menu-item-anchor">Home</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/register" class="nav-item nav-link nav-menu-item-anchor">Register</a>
    <a mat-button routerLink="/login" class="nav-item nav-link nav-menu-item-anchor">Login</a>
    <a mat-button class="nav-item nav-link nav-menu-item-anchor" (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
